@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  gap: 15px;
  width: 350px;
  padding: 30px;
  min-height: 300px;
}
.button-entrar {
  background-color: #9e7f35;
}
.button-cadastro {
  background-color: transparent;
  color: #000000;
}
.inputs-form {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #444;
}
.login-box {
  padding: 16px;
  background-color: transparent;
  border-radius: 15px;
}
.password-box {
  padding: 16px;
  background-color: transparent;
  border-radius: 15px;
  width: 70%;
}
h2 {
  color: #000000;
}
.login-form input {
  color: #000000;
}
.input-senhaContainer {
  display: flex;
  justify-content: space-between;
}
.btn-eye {
  background-color: transparent;
}
.img-logo {
  
  width: 150px;
  margin-top: 50px;
}
